html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 0.875rem;
  background-color: rgb(250, 250, 250);
  /* background: linear-gradient(rgb(231, 231, 231), rgb(243, 243, 243)); */
  /* Margin bottom by footer height */
  margin-bottom: 75px !important;
}

pre {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #e7e6e6;
}
